/*-------------------
    GLOBAL 
-------------------*/

* {
  font-family: "Raleway", sans-serif;
  color: #fff;
}

button {
  border: none;
  border-radius: 16px;
  background: #2a9d8f;
  padding: 8px 12px;
  min-width: 64px;
  text-transform: capitalize;
  transition: all 0.2s ease;
  font-size: 16px;
}

button:hover {
  background: #e9c46a;
  cursor: pointer;
}

h1,
h2 {
  margin: 0px;
}

/*-------------------
   MAIN PAGE
-------------------*/

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  background: #264653;
  padding: 32px 24px;
  border-radius: 20px;
  width: 320px;
  min-height: 360px;
  visibility: hidden;
  position: absolute;
  left: -1000px;
}

.modal.active {
  visibility: visible;
  position: inherit;
}

/*-------------------
    VOTE
-------------------*/

.movie-header {
  display: flex;
  justify-content: space-between;
}

.movie-card {
  margin: 50px 0px;
}

.movie-card h2 {
  margin-bottom: 0px;
  background-color: #e76f51;
  border-radius: 16px 16px 0px 0px;
  padding: 20px;
}

.movie-card p {
  margin-top: 0px;
  background-color: #f4a261;
  border-radius: 0px 0px 16px 16px;
  padding: 20px;
}

.movie-form {
  text-align: center;
}

.movie-form button {
  margin: 0px 8px;
}

/*-------------------
    RESULTS
-------------------*/

.results-header {
}

.results-table:nth-child(odd) {
  background-color: #e76f51;
}

.results-table:nth-child(pair) {
  background-color: #f4a261;
}

.results-tr {
  display: flex;
  width: 100%;
}

.results-tr:nth-child(1) {
  display: flex;
  flex-basis: 1;
}

.results-tr:nth-child(2) {
  display: flex;
  flex-basis: 8;
}

.results-tr:nth-child(3) {
  display: flex;
  flex-basis: 1;
}
