doctype html
head
  title My first styled page
  link(rel='preconnect' href='https://fonts.googleapis.com')
  link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap' rel='stylesheet')
  link(href='http://localhost:8100/css/style.css' rel='stylesheet')
.page
  .modal
    .movie-header
      h1 Erro!
